# App
APP_BASE_URL=http://localhost:8080

# Postgres
DB_HOST=postgres
DB_PORT=5432
DB_NAME=game-picker
DB_USERNAME=admin
DB_PASSWORD=admin

# Redis
REDIS_HOST=redis
REDIS_PORT=5432

# Steam API
STEAM_API_KEY=